
.font-size-large{
    font-size:large;
}

.carousel-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

.carousel-font-size {
    font-size: 65px;
    text-shadow: 3px 3px 4px #000000;
}

h1 {
    margin: auto;
    font-size: 56px;
    color: azure;
    text-shadow: 3px 3px 4px #000000;
}

.navbar-bg-transparent {
    background-color: transparent;
    position: absolute;
    z-index: 3;
}

.start-font-size {
    font-size: 27px;
}

.hide {
    display: none;
}

